*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: #fff;
}
.heading-primary-main {
  display: block;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-weight: 400;
  animation: moveInLeft 0.8s linear;
}
.heading-primary-sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  animation: moveInRight 0.8s linear;
}

.heading-secondary {
  display: inline-block;
  font-size: 3.6rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
  transition: all 0.3s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(20deg) scale(1.1);
  text-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.4);
}

.heading-tertiary {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.info__paragraph {
  font-size: 1.6rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }
  50% {
    opacity: 0.5;
  }
  80% {
    transform: translateX(2.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }
  50% {
    opacity: 0.5;
  }
  80% {
    transform: translateX(-2.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes scaledFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: scaleX(1.2) scaleY(1.6);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.u-center-text {
  text-align: center;
}

.u-mb-sm {
  margin-bottom: 1rem;
}

.u-mb-md {
  margin-bottom: 2rem;
}

.u-mb-lg {
  margin-bottom: 6rem;
}

.u-mb-xlg {
  margin-bottom: 10rem;
}

.u-mt-xlg {
  margin-top: 10rem;
}

.u-mt-sm {
  margin-top: 3rem;
}

.u-mt-md {
  margin-top: 6rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 2rem 4rem;
  border-radius: 10rem;
  margin-top: 2rem;
  font-size: 1.6rem;
}
.btn-white {
  background: #fff;
  color: #777;
  transition: all 0.2s;
}
.btn-white:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-white:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.7rem 1.4rem rgba(0, 0, 0, 0.4);
}
.btn-green {
  background: #28b485;
  color: #fff;
  transition: all 0.2s;
}
.btn-green:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-green:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.7rem 1.4rem rgba(0, 0, 0, 0.4);
}
.btn-animated {
  position: relative;
  animation: moveInBottom 0.6s;
}
.btn-animated:hover::after {
  position: absolute;
  content: "";
  background: #fff;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10rem;
  animation: scaledFade 0.2s;
  animation-fill-mode: backwards;
}

.btn-info {
  display: inline-block;
  margin-top: 2rem;
}
.btn-info:link,
.btn-info:visited {
  text-decoration: none;
  color: #55c57a;
  font-size: 1.6rem;
  border-bottom: 1.5px solid #28b485;
  font-weight: 400;
  transition: all 0.3s;
}
.btn-info:hover {
  background: #28b485;
  color: #fff;
  transform: translateY(-1rem) scale(1.2);
  box-shadow: 0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  padding: 0.2rem;
}
.btn-info:active {
  transform: translateY(0);
}

.header {
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background: linear-gradient(
      to right bottom,
      rgba(85, 197, 122, 0.2),
      rgba(40, 180, 133, 0.6)
    ),
    url(../img/hero.jpg);
  background-position: top;
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo-img {
  height: 3rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
}

.image-composition {
  position: relative;
}
.image-composition:hover :not(:hover) {
  transform: scale(0.9);
}

.composition {
  width: 40%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  outline-offset: 1rem;
  transition: all 0.3s;
}
.composition:hover {
  z-index: 2;
  transform: scale(1.1) translateY(-1rem);
  outline: 1rem solid #55c57a;
}

.comp-1 {
  top: -4rem;
  left: 0;
}

.comp-2 {
  top: 0rem;
  left: 20rem;
}

.comp-3 {
  top: 6rem;
  left: 6rem;
}

.features__box {
  width: calc((100% - 4rem) / 4 - 4rem);
  float: left;
  padding: 2rem 1rem;
  background: #fff;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(87, 85, 85, 0.8);
  transition: all 0.2s;
}
.features__box:hover {
  transform: translateY(-2rem) scale(1.1);
}
.features__box--icon {
  background: linear-gradient(to right, #28b485, #7ed56f);
  background-clip: text;
  color: transparent;
  font-size: 8rem;
}
.features__box:not(:last-child) {
  margin-right: 6rem;
}

.paragraph {
  text-align: start;
  font-size: 1.6rem;
}

.card {
  height: 55rem;
  position: relative;
  perspective: 250rem;
}
.card__side {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  transition: all 0.8s;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 55rem;
}
.card__side--front {
  overflow: hidden;
  border-radius: 3px;
}
.card__side--back {
  transform: rotateY(-180deg);
  background: red;
}
.card__side-1 {
  background: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side-2 {
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side-3 {
  background: linear-gradient(to right bottom, #5643fa, #2998ff);
}
.card__side--back {
  position: relative;
}
.card__side--back__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: #fff;
  text-align: center;
}
.card__side--back__cta-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__side--back__cta-price {
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 8rem;
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card_img {
  width: 100%;
  height: 23rem;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-blend-mode: screen;
  background-size: cover;
}
.card_img--1 {
  background-image: linear-gradient(#ff7730, #ffb900), url("../img/nat-5.jpg");
}
.card_img--2 {
  background-image: linear-gradient(#28b485, #7ed56f), url("../img/nat-6.jpg");
}
.card_img--3 {
  background-image: linear-gradient(#5643fa, #2998ff), url("../img/nat-7.jpg");
}
.card_title {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  top: 10rem;
  right: 0rem;
  color: #fff;
  text-align: right;
  max-width: 65%;
  min-width: 28rem;
}
.card_title span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card_title--1 {
  background: linear-gradient(
    to right,
    rgba(255, 119, 48, 0.85),
    rgba(255, 185, 0, 0.85)
  );
}
.card_title--2 {
  background: linear-gradient(
    to right,
    rgba(40, 180, 133, 0.85),
    rgba(126, 213, 111, 0.85)
  );
}
.card_title--3 {
  background: linear-gradient(
    to right,
    rgba(86, 67, 250, 0.85),
    rgba(41, 152, 255, 0.85)
  );
}
.card_perks {
  list-style: none;
  font-size: 2rem;
  padding: 4rem 2rem;
}
.card_perks li {
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  width: 75%;
}
.card_perks li:not(:last-child) {
  border-bottom: 4px solid #eee;
}

.story {
  background: rgba(255, 255, 255, 0.6);
  padding: 5rem;
  transform: skewX(-12deg);
  margin: 5rem 0;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
}
.story > * {
  transform: skewX(12deg);
}
.story__profile {
  float: left;
  position: relative;
  height: 15rem;
  width: 15rem;
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
}
.story__profile-avatar {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: all 0.2s;
}
.story__profile-name {
  position: absolute;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-transform: uppercase;
  width: 75%;
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}
.story__text {
  font-size: 1.8rem;
}
.story:hover .story__profile-avatar {
  transform: scale(1);
  filter: blur(3px) brightness(80%);
}
.story:hover .story__profile-name {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  z-index: -10;
}
.bg-video source {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
  background: #575555;
  color: #fff;
  max-width: 150rem;
  margin: 0 auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row [class^="col-"] {
  background: orangered;
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 4rem;
}
.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 4rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 4rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 4rem) / 3 + 4rem);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 4rem) / 4 + 4rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 4rem) / 4 + 2 * 4rem);
}

.about__info {
  max-width: 180rem;
  margin: auto;
  padding: 0 5%;
}
.about__info:after {
  content: "";
  display: table;
  clear: both;
}

.col-text {
  float: left;
  width: calc((100% - 4rem) / 2);
  padding-right: 2rem;
}

.col-imgs {
  float: left;
  width: calc((100% - 4rem) / 2);
}

.features__col {
  margin-left: 8rem;
}
.features__col:after {
  content: "";
  display: table;
  clear: both;
}

.tours-row {
  margin: 0 auto;
}
.tours-row:after {
  content: "";
  display: table;
  clear: both;
}

.tours-col {
  float: left;
  width: calc((100% - 4rem) / 3 - 2 * 4rem);
}
.tours-col:not(:last-child) {
  margin-right: 8rem;
}

.section-about {
  background: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  background: linear-gradient(
      to right,
      rgba(40, 180, 133, 0.8),
      rgba(126, 213, 111, 0.4)
    ),
    url("/img/nat-4.jpg");
  padding: 20rem 5rem;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -12rem;
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  padding: 30rem 25rem;
  background: #f7f7f7;
  margin-top: -15rem;
  padding-bottom: 10rem;
}

.stories {
  position: relative;
  padding: 0rem 25rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.booking {
  background: #55c57a;
  height: 80rem;
  position: relative;
}
.booking__container {
  position: absolute;
  width: 75%;
  height: 75%;
  background-image: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 50%,
      transparent 50%
    ),
    url("../img/nat-10.jpg");
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.booking__form {
  width: 50%;
  padding: 0 10rem;
  transition: all 0.3s;
}
.booking__form input {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
  width: 90%;
  padding: 1.5rem 2rem;
  outline: none;
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
}
.booking__form input:focus {
  outline: none;
}
.booking__form input:focus:valid {
  border-bottom: 3px solid #28b485;
}
.booking__form input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.booking__form input:placeholder-shown + label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-4rem);
}
.booking__form label {
  transition: all 0.3s;
  display: block;
  transform: translateY(1rem);
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 1rem;
}
.booking__form label:not(:last-child) {
  margin-bottom: 3rem;
}

/*# sourceMappingURL=style.css.map */
