/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    background: linear-gradient(to right bottom, #7ed56f85, #28b48573), url(../img/hero.jpg);
    background-position: top;
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo-img {
    height: 50px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}

.heading-primary {
    color: #fff;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 400;
    animation: moveInLeft .8s linear;
}

.heading-primary-sub {
    display: block;
    font-size: 24px;
    letter-spacing: 6px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    animation: moveInRight .8s linear;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    50% {
        opacity: .5;
    }
    80% {
        transform: translateX(25px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }
    50% {
        opacity: .5;
    }
    80% {
        transform: translateX(-25px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.btn:link, btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 100px;
    margin-top: 20px;
    }
    
.btn-white {
    background: #fff;
    color: #777;
    transition: all .2s;
}

.btn-white:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn-white:active {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(0, 0, 0, .4);
}

.btn-animated{
    position: relative;
    animation: moveInBottom .6s;
}

.btn-animated::after {
    position: absolute;
    content: "";
    background: #fff;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    animation: scaledFade .2s;
    animation-fill-mode: backwards;    
}

@keyframes scaledFade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .2;
        transform: scaleX(1.2) scaleY(1.6);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
