.footer {
  background: #333;
  padding: 10rem 0;

  &__logo_box {
    margin-bottom: 4rem;
    img {
      display: block;
      margin: auto;
      height: 12rem;
    }
  }

  &__content {
    margin-left: 20rem;
  }

  &__links {
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    width: calc((100% - 4rem) / 2);
    color: $color-light-grey;
    ul {
      padding-top: 1rem;
      display: inline-block;
      border-top: 1px solid $color-light-grey;
    }
    li {
      list-style: none;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 2rem;
      }
      &:hover,
      &:active {
        color: $color-primary;
        transform: scale(1.2) rotate(3deg);
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__copyright {
    font-size: 1.6rem;
    color: $color-light-grey;
    float: right;
    width: calc((100% - 8rem) / 3);
    margin-right: 20rem;
    p {
      padding-top: 1rem;
      border-top: 1px solid $color-light-grey;
    }
  }
}
