body {
  font-family: "Lato", sans-serif;
  color: $color-grey;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;

  &-main {
    display: block;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    font-weight: 400;
    animation: moveInLeft 0.8s linear;
  }

  &-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    animation: moveInRight 0.8s linear;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.6rem;
  text-transform: uppercase;
  background: linear-gradient(to right, $color-alpha, $color-secondary);
  background-clip: text;
  color: transparent;
  transition: all 0.3s;

  &:hover {
    transform: skewY(2deg) skewX(20deg) scale(1.1);
    text-shadow: 1rem 2rem 2rem rgba(black, $alpha: 0.4);
  }
}

.heading-tertiary {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.info__paragraph {
  font-size: 1.6rem;
}
