.u-center-text {
  text-align: center;
}

.u-mb-sm {
  margin-bottom: 1rem;
}
.u-mb-md {
  margin-bottom: 2rem;
}
.u-mb-lg {
  margin-bottom: 6rem;
}
.u-mb-xlg {
  margin-bottom: 10rem;
}

.u-mt-xlg {
  margin-top: 10rem;
}
.u-mt-sm {
  margin-top: 3rem;
}
.u-mt-md {
  margin-top: 6rem;
}
